<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card 01 | Zero's World</title>
    <link rel="stylesheet" href="./assets/sass/main.css" />
  </head>
  <body>
    <section class="container">
      <article class="card">
        <img
          src="./assets/images/card_image.jpg"
          alt="imagen de la carta"
          class="card__image"
        />
        <div class="card__content">
          <h3 class="card__title">Título lorem ipsum</h3>
          <p class="card__text">
            Contenido texto lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Enim neque iste voluptates culpa ab laudantium perspiciatis
            laborum alias facilis repudiandae quae voluptate magnam, hic
            reiciendis ullam tempora, suscipit consequuntur obcaecati.
          </p>
        </div>
      </article>
    </section>
  </body>
</html>
