// Simple flexbox
@mixin flex($direction, $wrap, $justify, $align, $gap: 0) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align;

  @if $gap != 0 {
    gap: $gap;
  }
}

// Center an element using flexbox
@mixin flex-center($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;

  @if $gap != 0 {
    gap: $gap;
  }
}

// Simple grid
@mixin grid($columns, $rows: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  @if $rows != 0 {
    grid-template-rows: repeat($rows, 1fr);
  }
}

// Center an element using grid
@mixin grid-center($gap: 0) {
  display: grid;
  place-items: center;

  @if $gap != 0 {
    gap: $gap;
  }
}

// Create an square
@mixin square($size, $radius: 0) {
  width: $size;
  height: $size;

  @if $radius != 0 {
    border-radius: $radius;
  }
}
